.inputForm {
    height: 50px;
    max-width: 600px;
    margin-left: 10px;
}

.errorMessage {
    height: 20px;
    margin-left: 60px;
}

.groupText {
    width: 90px;
}

.submit {
    margin-top: 20px;
    margin-left: 10px;
}